-- 电商订单系统表结构（优化版）
-- 每个表不超过20个字段，不使用外键，从业务功能正确性和SQL性能两方面进行优化
-- 确保业务的最小可行性

-- 商品主表（商品基本信息）
CREATE TABLE IF NOT EXISTS `product` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '商品ID',
  `shop_id` bigint(20) NOT NULL COMMENT '店铺ID',
  `category_id` bigint(20) DEFAULT NULL COMMENT '分类ID',
  `brand_id` bigint(20) DEFAULT NULL COMMENT '品牌ID',
  `title` varchar(200) NOT NULL COMMENT '商品标题',
  `sub_title` varchar(200) DEFAULT NULL COMMENT '商品副标题',
  `main_image` varchar(255) DEFAULT NULL COMMENT '商品主图',
  `price` decimal(10,2) NOT NULL COMMENT '售价',
  `original_price` decimal(10,2) DEFAULT NULL COMMENT '原价',
  `status` tinyint(4) NOT NULL DEFAULT '0' COMMENT '状态:0-下架,1-上架,2-待审核',
  `sales` int(11) DEFAULT '0' COMMENT '销量',
  `stock` int(11) DEFAULT '0' COMMENT '库存',
  `weight` int(11) DEFAULT '0' COMMENT '排序权重',
  `is_recommend` tinyint(1) DEFAULT '0' COMMENT '是否推荐',
  `is_new` tinyint(1) DEFAULT '0' COMMENT '是否新品',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `deleted` tinyint(1) DEFAULT '0' COMMENT '是否删除',
  PRIMARY KEY (`id`),
  KEY `idx_shop_id` (`shop_id`),
  KEY `idx_category_id` (`category_id`),
  KEY `idx_status_deleted` (`status`, `deleted`),
  KEY `idx_create_time` (`create_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='商品主表';

-- 商品SKU表（商品规格单元）
CREATE TABLE IF NOT EXISTS `product_sku` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT 'SKU ID',
  `product_id` bigint(20) NOT NULL COMMENT '商品ID',
  `sku_code` varchar(50) DEFAULT NULL COMMENT 'SKU编码',
  `barcode` varchar(50) DEFAULT NULL COMMENT '条形码',
  `spec_data` json DEFAULT NULL COMMENT '规格数据，如{"颜色":"红色","尺码":"XL"}',
  `price` decimal(10,2) NOT NULL COMMENT '售价',
  `original_price` decimal(10,2) DEFAULT NULL COMMENT '原价',
  `stock` int(11) NOT NULL DEFAULT '0' COMMENT '库存',
  `locked_stock` int(11) DEFAULT '0' COMMENT '锁定库存',
  `sales` int(11) DEFAULT '0' COMMENT '销量',
  `image` varchar(255) DEFAULT NULL COMMENT 'SKU图片',
  `status` tinyint(4) DEFAULT '1' COMMENT '状态:0-禁用,1-启用',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_sku_code` (`sku_code`),
  KEY `idx_product_id` (`product_id`),
  KEY `idx_barcode` (`barcode`),
  KEY `idx_stock` (`stock`, `locked_stock`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='商品SKU表';

-- 商品详情表（商品详细内容）
CREATE TABLE IF NOT EXISTS `product_detail` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '详情ID',
  `product_id` bigint(20) NOT NULL COMMENT '商品ID',
  `detail` text COMMENT '商品详情',
  `images` json DEFAULT NULL COMMENT '商品图片',
  `specifications` json DEFAULT NULL COMMENT '规格信息',
  `attributes` json DEFAULT NULL COMMENT '属性信息',
  `keywords` varchar(255) DEFAULT NULL COMMENT '搜索关键词',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_product_id` (`product_id`),
  FULLTEXT KEY `ft_keywords` (`keywords`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='商品详情表';

-- 购物车表（用户购物车）
CREATE TABLE IF NOT EXISTS `cart` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '购物车ID',
  `user_id` bigint(20) NOT NULL COMMENT '用户ID',
  `product_id` bigint(20) NOT NULL COMMENT '商品ID',
  `sku_id` bigint(20) NOT NULL COMMENT 'SKU ID',
  `quantity` int(11) NOT NULL DEFAULT '1' COMMENT '数量',
  `price` decimal(10,2) DEFAULT NULL COMMENT '加入时价格',
  `checked` tinyint(1) DEFAULT '1' COMMENT '是否选中',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_product_sku` (`user_id`,`product_id`,`sku_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_checked` (`checked`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='购物车表';

-- 订单主表（订单基本信息）
CREATE TABLE IF NOT EXISTS `order` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '订单ID',
  `order_no` varchar(32) NOT NULL COMMENT '订单号',
  `user_id` bigint(20) NOT NULL COMMENT '用户ID',
  `shop_id` bigint(20) NOT NULL COMMENT '店铺ID',
  `order_type` tinyint(4) NOT NULL DEFAULT '1' COMMENT '订单类型:1-普通,2-团购,3-秒杀',
  `order_status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '订单状态:1-待付款,2-待发货,3-待收货,4-已完成,5-已取消,6-已退款',
  `pay_status` tinyint(4) NOT NULL DEFAULT '0' COMMENT '支付状态:0-未支付,1-已支付,2-部分退款,3-全额退款',
  `shipping_status` tinyint(4) NOT NULL DEFAULT '0' COMMENT '物流状态:0-未发货,1-已发货,2-已收货',
  `total_amount` decimal(10,2) NOT NULL COMMENT '订单总金额',
  `pay_amount` decimal(10,2) NOT NULL COMMENT '应付金额',
  `pay_time` datetime DEFAULT NULL COMMENT '支付时间',
  `shipping_time` datetime DEFAULT NULL COMMENT '发货时间',
  `receive_time` datetime DEFAULT NULL COMMENT '收货时间',
  `finish_time` datetime DEFAULT NULL COMMENT '完成时间',
  `version` int(11) NOT NULL DEFAULT '0' COMMENT '乐观锁版本号',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `expired_time` datetime DEFAULT NULL COMMENT '过期时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_order_no` (`order_no`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_shop_id` (`shop_id`),
  KEY `idx_order_status` (`order_status`),
  KEY `idx_pay_status` (`pay_status`),
  KEY `idx_create_time` (`create_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='订单主表';

-- 订单商品表（订单商品明细）
CREATE TABLE IF NOT EXISTS `order_item` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '订单商品ID',
  `order_id` bigint(20) NOT NULL COMMENT '订单ID',
  `order_no` varchar(32) NOT NULL COMMENT '订单号',
  `user_id` bigint(20) NOT NULL COMMENT '用户ID',
  `product_id` bigint(20) NOT NULL COMMENT '商品ID',
  `sku_id` bigint(20) NOT NULL COMMENT 'SKU ID',
  `product_name` varchar(200) NOT NULL COMMENT '商品名称',
  `product_image` varchar(255) DEFAULT NULL COMMENT '商品图片',
  `sku_spec_data` json DEFAULT NULL COMMENT 'SKU规格',
  `price` decimal(10,2) NOT NULL COMMENT '销售价格',
  `quantity` int(11) NOT NULL COMMENT '购买数量',
  `total_amount` decimal(10,2) NOT NULL COMMENT '总金额',
  `refund_status` tinyint(4) DEFAULT '0' COMMENT '退款状态:0-无退款,1-申请中,2-已退款',
  `refund_amount` decimal(10,2) DEFAULT '0.00' COMMENT '退款金额',
  `review_status` tinyint(4) DEFAULT '0' COMMENT '评价状态:0-未评价,1-已评价',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  KEY `idx_order_id` (`order_id`),
  KEY `idx_order_no` (`order_no`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_product_id` (`product_id`),
  KEY `idx_refund_status` (`refund_status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='订单商品表';

-- 订单支付表（支付信息）
CREATE TABLE IF NOT EXISTS `order_payment` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '支付ID',
  `order_id` bigint(20) NOT NULL COMMENT '订单ID',
  `order_no` varchar(32) NOT NULL COMMENT '订单号',
  `user_id` bigint(20) NOT NULL COMMENT '用户ID',
  `payment_method` tinyint(4) DEFAULT NULL COMMENT '支付方式:1-微信,2-支付宝,3-银联,4-余额',
  `payment_no` varchar(100) DEFAULT NULL COMMENT '支付流水号',
  `payment_amount` decimal(10,2) DEFAULT NULL COMMENT '支付金额',
  `payment_status` tinyint(4) NOT NULL DEFAULT '0' COMMENT '支付状态:0-未支付,1-支付中,2-已支付,3-支付失败',
  `payment_time` datetime DEFAULT NULL COMMENT '支付时间',
  `payment_expire_time` datetime DEFAULT NULL COMMENT '支付过期时间',
  `callback_time` datetime DEFAULT NULL COMMENT '回调时间',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_order_id` (`order_id`),
  KEY `idx_order_no` (`order_no`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_payment_status` (`payment_status`),
  KEY `idx_payment_no` (`payment_no`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='订单支付表';

-- 订单收货信息表（收货地址与物流信息）
CREATE TABLE IF NOT EXISTS `order_shipping` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '收货信息ID',
  `order_id` bigint(20) NOT NULL COMMENT '订单ID',
  `order_no` varchar(32) NOT NULL COMMENT '订单号',
  `user_id` bigint(20) NOT NULL COMMENT '用户ID',
  `receiver_name` varchar(64) NOT NULL COMMENT '收货人姓名',
  `receiver_phone` varchar(16) NOT NULL COMMENT '收货人电话',
  `receiver_province` varchar(32) NOT NULL COMMENT '省份',
  `receiver_city` varchar(32) NOT NULL COMMENT '城市',
  `receiver_district` varchar(32) NOT NULL COMMENT '区/县',
  `receiver_address` varchar(255) NOT NULL COMMENT '详细地址',
  `logistics_company` varchar(32) DEFAULT NULL COMMENT '物流公司',
  `logistics_no` varchar(32) DEFAULT NULL COMMENT '物流单号',
  `logistics_status` tinyint(4) DEFAULT '0' COMMENT '物流状态:0-未发货,1-已发货,2-运输中,3-已签收,4-异常',
  `shipping_time` datetime DEFAULT NULL COMMENT '发货时间',
  `delivery_time` datetime DEFAULT NULL COMMENT '送达时间',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_order_id` (`order_id`),
  KEY `idx_order_no` (`order_no`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_logistics_status` (`logistics_status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='订单收货信息表';

-- 订单日志表（订单状态变更日志）
CREATE TABLE IF NOT EXISTS `order_log` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '日志ID',
  `order_id` bigint(20) NOT NULL COMMENT '订单ID',
  `order_no` varchar(32) NOT NULL COMMENT '订单号',
  `previous_status` tinyint(4) DEFAULT NULL COMMENT '操作前状态',
  `current_status` tinyint(4) NOT NULL COMMENT '操作后状态',
  `operator_id` bigint(20) DEFAULT NULL COMMENT '操作人ID',
  `operator_type` tinyint(4) DEFAULT '1' COMMENT '操作人类型:1-用户,2-商家,3-系统,4-管理员',
  `operation` varchar(64) NOT NULL COMMENT '操作类型',
  `remark` varchar(255) DEFAULT NULL COMMENT '备注',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  KEY `idx_order_id` (`order_id`),
  KEY `idx_order_no` (`order_no`),
  KEY `idx_create_time` (`create_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='订单日志表';

-- 订单退款表（退款信息）
CREATE TABLE IF NOT EXISTS `order_refund` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '退款ID',
  `refund_no` varchar(32) NOT NULL COMMENT '退款单号',
  `order_id` bigint(20) NOT NULL COMMENT '订单ID',
  `order_no` varchar(32) NOT NULL COMMENT '订单号',
  `order_item_id` bigint(20) DEFAULT NULL COMMENT '订单商品ID',
  `user_id` bigint(20) NOT NULL COMMENT '用户ID',
  `shop_id` bigint(20) NOT NULL COMMENT '店铺ID',
  `refund_amount` decimal(10,2) NOT NULL COMMENT '退款金额',
  `refund_reason_type` tinyint(4) NOT NULL COMMENT '退款原因类型',
  `refund_reason` varchar(255) NOT NULL COMMENT '退款原因',
  `refund_type` tinyint(4) NOT NULL DEFAULT '1' COMMENT '退款类型:1-仅退款,2-退货退款',
  `refund_status` tinyint(4) NOT NULL DEFAULT '0' COMMENT '退款状态:0-申请中,1-商家同意,2-商家拒绝,3-退款成功,4-退款关闭',
  `refund_payment_no` varchar(100) DEFAULT NULL COMMENT '退款支付流水号',
  `refund_time` datetime DEFAULT NULL COMMENT '退款时间',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_refund_no` (`refund_no`),
  KEY `idx_order_id` (`order_id`),
  KEY `idx_order_no` (`order_no`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_refund_status` (`refund_status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='订单退款表';

-- 促销活动表（营销活动）
CREATE TABLE IF NOT EXISTS `promotion` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '促销ID',
  `shop_id` bigint(20) NOT NULL COMMENT '店铺ID',
  `name` varchar(100) NOT NULL COMMENT '促销名称',
  `promotion_type` tinyint(4) NOT NULL COMMENT '促销类型:1-满减,2-满折,3-秒杀,4-拼团,5-优惠券',
  `status` tinyint(4) NOT NULL DEFAULT '0' COMMENT '状态:0-未开始,1-进行中,2-已结束,3-已取消',
  `start_time` datetime NOT NULL COMMENT '开始时间',
  `end_time` datetime NOT NULL COMMENT '结束时间',
  `rule_json` json NOT NULL COMMENT '促销规则',
  `priority` int(11) DEFAULT '0' COMMENT '优先级',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  KEY `idx_shop_id` (`shop_id`),
  KEY `idx_promotion_type` (`promotion_type`),
  KEY `idx_status` (`status`),
  KEY `idx_time_range` (`start_time`, `end_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='促销活动表';

-- 优惠券表（优惠券模板）
CREATE TABLE IF NOT EXISTS `coupon` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '优惠券ID',
  `shop_id` bigint(20) NOT NULL COMMENT '店铺ID',
  `name` varchar(100) NOT NULL COMMENT '优惠券名称',
  `type` tinyint(4) NOT NULL COMMENT '类型:1-满减券,2-折扣券,3-无门槛券',
  `value` decimal(10,2) NOT NULL COMMENT '面值/折扣',
  `min_amount` decimal(10,2) DEFAULT '0.00' COMMENT '使用门槛',
  `start_time` datetime NOT NULL COMMENT '有效期开始',
  `end_time` datetime NOT NULL COMMENT '有效期结束',
  `total` int(11) NOT NULL COMMENT '发行量',
  `limit_per_user` int(11) DEFAULT '1' COMMENT '每人限领',
  `used` int(11) DEFAULT '0' COMMENT '已使用数量',
  `received` int(11) DEFAULT '0' COMMENT '已领取数量',
  `status` tinyint(4) DEFAULT '1' COMMENT '状态:0-未开始,1-进行中,2-已结束,3-已取消',
  `rule_json` json DEFAULT NULL COMMENT '使用规则',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  KEY `idx_shop_id` (`shop_id`),
  KEY `idx_type` (`type`),
  KEY `idx_status` (`status`),
  KEY `idx_time_range` (`start_time`, `end_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='优惠券表';

-- 用户优惠券表（用户领取的优惠券）
CREATE TABLE IF NOT EXISTS `user_coupon` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '用户优惠券ID',
  `user_id` bigint(20) NOT NULL COMMENT '用户ID',
  `coupon_id` bigint(20) NOT NULL COMMENT '优惠券ID',
  `shop_id` bigint(20) NOT NULL COMMENT '店铺ID',
  `status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '状态:1-未使用,2-已使用,3-已过期',
  `get_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '领取时间',
  `use_time` datetime DEFAULT NULL COMMENT '使用时间',
  `order_id` bigint(20) DEFAULT NULL COMMENT '使用订单ID',
  `order_no` varchar(32) DEFAULT NULL COMMENT '使用订单号',
  `expire_time` datetime NOT NULL COMMENT '过期时间',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_coupon` (`user_id`, `coupon_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_coupon_id` (`coupon_id`),
  KEY `idx_status` (`status`),
  KEY `idx_expire_time` (`expire_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='用户优惠券表';

-- 商品评价表（用户评价）
CREATE TABLE IF NOT EXISTS `product_review` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '评价ID',
  `product_id` bigint(20) NOT NULL COMMENT '商品ID',
  `sku_id` bigint(20) NOT NULL COMMENT 'SKU ID',
  `order_id` bigint(20) NOT NULL COMMENT '订单ID',
  `order_item_id` bigint(20) NOT NULL COMMENT '订单商品ID',
  `user_id` bigint(20) NOT NULL COMMENT '用户ID',
  `shop_id` bigint(20) NOT NULL COMMENT '店铺ID',
  `rating` tinyint(4) NOT NULL COMMENT '评分(1-5)',
  `content` text COMMENT '评价内容',
  `images` json DEFAULT NULL COMMENT '评价图片',
  `is_anonymous` tinyint(1) DEFAULT '0' COMMENT '是否匿名',
  `reply_content` text COMMENT '商家回复',
  `reply_time` datetime DEFAULT NULL COMMENT '回复时间',
  `status` tinyint(4) DEFAULT '1' COMMENT '状态:0-隐藏,1-显示',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  KEY `idx_product_id` (`product_id`),
  KEY `idx_order_id` (`order_id`),
  KEY `idx_order_item_id` (`order_item_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_rating` (`rating`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='商品评价表'; 