-- 供应链模块表结构（MVP版本）
-- 设计原则: 每表字段不超过18个，无外键约束，针对高并发高可用场景优化
-- 保留核心功能，去除非必要字段，提高查询性能

-- 供应链配置表（精简版）
CREATE TABLE IF NOT EXISTS `supply_chain_config` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '配置ID',
  `config_key` varchar(50) NOT NULL COMMENT '配置键',
  `config_value` varchar(500) NOT NULL COMMENT '配置值',
  `config_desc` varchar(255) DEFAULT NULL COMMENT '配置描述',
  `status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '状态:1-有效,0-无效',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_config_key` (`config_key`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='供应链配置表';

-- 供应链节点表（精简版）
CREATE TABLE IF NOT EXISTS `supply_chain_node` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '节点ID',
  `node_name` varchar(50) NOT NULL COMMENT '节点名称',
  `node_code` varchar(20) NOT NULL COMMENT '节点编码',
  `node_type` tinyint(4) NOT NULL COMMENT '节点类型:1-供应商,2-工厂,3-仓库,4-物流,5-分销商,6-零售商,7-其他',
  `node_level` tinyint(4) NOT NULL DEFAULT '1' COMMENT '节点级别',
  `parent_id` bigint(20) DEFAULT '0' COMMENT '父节点ID',
  `contact_name` varchar(50) DEFAULT NULL COMMENT '联系人姓名',
  `contact_phone` varchar(20) DEFAULT NULL COMMENT '联系人电话',
  `address` varchar(255) DEFAULT NULL COMMENT '地址',
  `status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '状态:1-有效,0-无效',
  `sort_order` int(11) DEFAULT '0' COMMENT '排序',
  `relation_id` bigint(20) DEFAULT NULL COMMENT '关联ID(如供应商ID)',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_node_code` (`node_code`),
  KEY `idx_parent_id` (`parent_id`),
  KEY `idx_node_type` (`node_type`),
  KEY `idx_status` (`status`),
  KEY `idx_relation_id` (`relation_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='供应链节点表';

-- 供应链路线表（精简版）
CREATE TABLE IF NOT EXISTS `supply_chain_route` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '路线ID',
  `route_name` varchar(100) NOT NULL COMMENT '路线名称',
  `route_code` varchar(20) NOT NULL COMMENT '路线编码',
  `from_node_id` bigint(20) NOT NULL COMMENT '起始节点ID',
  `to_node_id` bigint(20) NOT NULL COMMENT '目标节点ID',
  `transport_type` tinyint(4) NOT NULL DEFAULT '1' COMMENT '运输类型:1-陆运,2-水运,3-空运,4-铁路,5-多式联运',
  `distance` decimal(10,2) DEFAULT NULL COMMENT '距离(公里)',
  `estimated_time` int(11) DEFAULT NULL COMMENT '预计时间(小时)',
  `cost_per_unit` decimal(10,2) DEFAULT NULL COMMENT '单位成本',
  `status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '状态:1-有效,0-无效',
  `sort_order` int(11) DEFAULT '0' COMMENT '排序',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_route_code` (`route_code`),
  UNIQUE KEY `uk_from_to_node` (`from_node_id`,`to_node_id`),
  KEY `idx_nodes` (`from_node_id`, `to_node_id`),
  KEY `idx_transport_type` (`transport_type`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='供应链路线表';

-- 供应链产品表（精简版）
CREATE TABLE IF NOT EXISTS `supply_chain_product` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT 'ID',
  `product_id` bigint(20) NOT NULL COMMENT '商品ID',
  `product_sku_id` bigint(20) DEFAULT NULL COMMENT '商品SKU ID',
  `category_id` bigint(20) NOT NULL COMMENT '分类ID',
  `lead_time` int(11) DEFAULT NULL COMMENT '前置时间(天)',
  `min_order_quantity` int(11) DEFAULT '1' COMMENT '最小订单量',
  `safety_stock` int(11) DEFAULT '0' COMMENT '安全库存',
  `reorder_point` int(11) DEFAULT '0' COMMENT '再订货点',
  `max_stock` int(11) DEFAULT NULL COMMENT '最大库存',
  `lifecycle_status` tinyint(4) DEFAULT '1' COMMENT '生命周期状态:1-引入期,2-成长期,3-成熟期,4-衰退期,5-淘汰',
  `importance_level` tinyint(4) DEFAULT '3' COMMENT '重要性等级:1-关键,2-重要,3-一般,4-次要,5-可选',
  `is_multi_source` tinyint(1) DEFAULT '0' COMMENT '是否多源采购:0-否,1-是',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_product_sku` (`product_id`,`product_sku_id`),
  KEY `idx_category_id` (`category_id`),
  KEY `idx_lifecycle` (`lifecycle_status`),
  KEY `idx_importance` (`importance_level`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='供应链产品表';

-- 供应链计划表（精简版）
CREATE TABLE IF NOT EXISTS `supply_chain_plan` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '计划ID',
  `plan_no` varchar(32) NOT NULL COMMENT '计划编号',
  `plan_name` varchar(100) NOT NULL COMMENT '计划名称',
  `plan_type` tinyint(4) NOT NULL DEFAULT '1' COMMENT '计划类型:1-采购计划,2-生产计划,3-销售计划,4-库存计划,5-配送计划',
  `start_date` date NOT NULL COMMENT '开始日期',
  `end_date` date NOT NULL COMMENT '结束日期',
  `node_id` bigint(20) DEFAULT NULL COMMENT '节点ID',
  `status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '状态:1-草稿,2-已提交,3-执行中,4-已完成,5-已取消',
  `creator_id` bigint(20) NOT NULL COMMENT '创建人ID',
  `auditor_id` bigint(20) DEFAULT NULL COMMENT '审核人ID',
  `audit_time` datetime DEFAULT NULL COMMENT '审核时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_plan_no` (`plan_no`),
  KEY `idx_node_id` (`node_id`),
  KEY `idx_plan_type` (`plan_type`),
  KEY `idx_date_range` (`start_date`, `end_date`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='供应链计划表';

-- 供应链计划明细表（精简版）
CREATE TABLE IF NOT EXISTS `supply_chain_plan_item` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '明细ID',
  `plan_id` bigint(20) NOT NULL COMMENT '计划ID',
  `plan_no` varchar(32) NOT NULL COMMENT '计划编号',
  `product_id` bigint(20) NOT NULL COMMENT '商品ID',
  `product_sku_id` bigint(20) NOT NULL COMMENT '商品SKU ID',
  `product_name` varchar(255) NOT NULL COMMENT '商品名称',
  `plan_quantity` int(11) NOT NULL COMMENT '计划数量',
  `actual_quantity` int(11) NOT NULL DEFAULT '0' COMMENT '实际数量',
  `unit_price` decimal(10,2) DEFAULT NULL COMMENT '单价',
  `total_amount` decimal(12,2) DEFAULT NULL COMMENT '总金额',
  `plan_date` date NOT NULL COMMENT '计划日期',
  `status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '状态:1-待执行,2-执行中,3-已完成,4-已取消',
  `remark` varchar(255) DEFAULT NULL COMMENT '备注',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  KEY `idx_plan` (`plan_id`, `plan_no`),
  KEY `idx_product` (`product_id`, `product_sku_id`),
  KEY `idx_plan_date` (`plan_date`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='供应链计划明细表';

-- 供应链预测表（精简版）
CREATE TABLE IF NOT EXISTS `supply_chain_forecast` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '预测ID',
  `forecast_no` varchar(32) NOT NULL COMMENT '预测编号',
  `forecast_name` varchar(100) NOT NULL COMMENT '预测名称',
  `forecast_type` tinyint(4) NOT NULL DEFAULT '1' COMMENT '预测类型:1-销售预测,2-需求预测,3-库存预测,4-价格预测',
  `start_date` date NOT NULL COMMENT '开始日期',
  `end_date` date NOT NULL COMMENT '结束日期',
  `period_type` tinyint(4) NOT NULL DEFAULT '1' COMMENT '周期类型:1-日,2-周,3-月,4-季,5-年',
  `algorithm` varchar(50) DEFAULT NULL COMMENT '算法',
  `status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '状态:1-草稿,2-已确认,3-已过期',
  `creator_id` bigint(20) NOT NULL COMMENT '创建人ID',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_forecast_no` (`forecast_no`),
  KEY `idx_forecast_type` (`forecast_type`),
  KEY `idx_date_range` (`start_date`, `end_date`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='供应链预测表';

-- 供应链预测明细表（精简版）
CREATE TABLE IF NOT EXISTS `supply_chain_forecast_item` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '明细ID',
  `forecast_id` bigint(20) NOT NULL COMMENT '预测ID',
  `forecast_no` varchar(32) NOT NULL COMMENT '预测编号',
  `product_id` bigint(20) NOT NULL COMMENT '商品ID',
  `product_sku_id` bigint(20) NOT NULL COMMENT '商品SKU ID',
  `product_name` varchar(255) NOT NULL COMMENT '商品名称',
  `forecast_date` date NOT NULL COMMENT '预测日期',
  `forecast_quantity` int(11) NOT NULL COMMENT '预测数量',
  `actual_quantity` int(11) DEFAULT NULL COMMENT '实际数量',
  `variance` decimal(10,2) DEFAULT NULL COMMENT '偏差值',
  `variance_rate` decimal(5,2) DEFAULT NULL COMMENT '偏差率(%)',
  `unit_price` decimal(10,2) DEFAULT NULL COMMENT '单价',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_forecast_product_date` (`forecast_id`,`product_id`,`product_sku_id`,`forecast_date`),
  KEY `idx_forecast` (`forecast_id`, `forecast_no`),
  KEY `idx_product` (`product_id`, `product_sku_id`),
  KEY `idx_forecast_date` (`forecast_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='供应链预测明细表';

-- 供应链订单表（精简版）
CREATE TABLE IF NOT EXISTS `supply_chain_order` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '订单ID',
  `order_no` varchar(32) NOT NULL COMMENT '订单编号',
  `order_type` tinyint(4) NOT NULL DEFAULT '1' COMMENT '订单类型:1-采购订单,2-生产订单,3-调拨订单,4-退货订单',
  `from_node_id` bigint(20) NOT NULL COMMENT '来源节点ID',
  `to_node_id` bigint(20) NOT NULL COMMENT '目标节点ID',
  `plan_id` bigint(20) DEFAULT NULL COMMENT '关联计划ID',
  `status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '状态:1-草稿,2-已确认,3-部分执行,4-已完成,5-已取消',
  `priority` tinyint(4) NOT NULL DEFAULT '3' COMMENT '优先级:1-紧急,2-高,3-中,4-低',
  `total_quantity` int(11) NOT NULL DEFAULT '0' COMMENT '订单总数量',
  `total_amount` decimal(12,2) NOT NULL DEFAULT '0.00' COMMENT '订单总金额',
  `expected_time` datetime DEFAULT NULL COMMENT '预计交付时间',
  `creator_id` bigint(20) NOT NULL COMMENT '创建人ID',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_order_no` (`order_no`),
  KEY `idx_nodes` (`from_node_id`, `to_node_id`),
  KEY `idx_order_type` (`order_type`),
  KEY `idx_plan_id` (`plan_id`),
  KEY `idx_status_priority` (`status`, `priority`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='供应链订单表';

-- 供应链订单明细表（精简版）
CREATE TABLE IF NOT EXISTS `supply_chain_order_item` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '明细ID',
  `order_id` bigint(20) NOT NULL COMMENT '订单ID',
  `order_no` varchar(32) NOT NULL COMMENT '订单编号',
  `product_id` bigint(20) NOT NULL COMMENT '商品ID',
  `product_sku_id` bigint(20) NOT NULL COMMENT '商品SKU ID',
  `product_name` varchar(255) NOT NULL COMMENT '商品名称',
  `product_sku_name` varchar(255) DEFAULT NULL COMMENT '商品规格名称',
  `quantity` int(11) NOT NULL COMMENT '数量',
  `completed_quantity` int(11) NOT NULL DEFAULT '0' COMMENT '已完成数量',
  `unit_price` decimal(10,2) DEFAULT NULL COMMENT '单价',
  `total_price` decimal(12,2) DEFAULT NULL COMMENT '总价',
  `status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '状态:1-待执行,2-部分执行,3-已完成,4-已取消',
  `expected_time` datetime DEFAULT NULL COMMENT '预计交付时间',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  KEY `idx_order` (`order_id`, `order_no`),
  KEY `idx_product` (`product_id`, `product_sku_id`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='供应链订单明细表';

-- 供应链绩效指标表（精简版）
CREATE TABLE IF NOT EXISTS `supply_chain_kpi` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '指标ID',
  `kpi_code` varchar(50) NOT NULL COMMENT '指标编码',
  `kpi_name` varchar(100) NOT NULL COMMENT '指标名称',
  `kpi_type` tinyint(4) NOT NULL COMMENT '指标类型:1-效率,2-成本,3-质量,4-时效,5-服务,6-其他',
  `kpi_unit` varchar(20) DEFAULT NULL COMMENT '计量单位',
  `node_id` bigint(20) DEFAULT NULL COMMENT '节点ID',
  `target_value` decimal(10,2) DEFAULT NULL COMMENT '目标值',
  `min_value` decimal(10,2) DEFAULT NULL COMMENT '最小值',
  `max_value` decimal(10,2) DEFAULT NULL COMMENT '最大值',
  `actual_value` decimal(10,2) DEFAULT NULL COMMENT '实际值',
  `period_type` tinyint(4) NOT NULL DEFAULT '3' COMMENT '周期类型:1-日,2-周,3-月,4-季,5-年',
  `period_date` date NOT NULL COMMENT '周期日期',
  `status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '状态:1-有效,0-无效',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_kpi_node_period` (`kpi_code`,`node_id`,`period_type`,`period_date`),
  KEY `idx_node_id` (`node_id`),
  KEY `idx_kpi_type` (`kpi_type`),
  KEY `idx_period` (`period_type`, `period_date`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='供应链绩效指标表';

-- 供应链风险表（精简版）
CREATE TABLE IF NOT EXISTS `supply_chain_risk` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '风险ID',
  `risk_code` varchar(50) NOT NULL COMMENT '风险编码',
  `risk_name` varchar(100) NOT NULL COMMENT '风险名称',
  `risk_type` tinyint(4) NOT NULL COMMENT '风险类型:1-供应风险,2-需求风险,3-流程风险,4-环境风险,5-合规风险',
  `risk_level` tinyint(4) NOT NULL DEFAULT '3' COMMENT '风险等级:1-极高,2-高,3-中,4-低,5-极低',
  `probability` decimal(5,2) DEFAULT NULL COMMENT '发生概率',
  `impact` decimal(5,2) DEFAULT NULL COMMENT '影响程度',
  `node_id` bigint(20) DEFAULT NULL COMMENT '节点ID',
  `product_id` bigint(20) DEFAULT NULL COMMENT '商品ID',
  `status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '状态:1-未处理,2-处理中,3-已解决,4-已关闭',
  `response_plan` varchar(500) DEFAULT NULL COMMENT '应对计划',
  `creator_id` bigint(20) NOT NULL COMMENT '创建人ID',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_risk_code` (`risk_code`),
  KEY `idx_node_id` (`node_id`),
  KEY `idx_product_id` (`product_id`),
  KEY `idx_risk_type` (`risk_type`),
  KEY `idx_risk_level` (`risk_level`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='供应链风险表';
