-- 供应商库存模块表结构（MVP版本）
-- 设计原则: 每表字段不超过18个，无外键约束，针对高并发高可用场景优化
-- 保留核心功能，去除非必要字段，提高查询性能

-- 供应商信息表（精简版）
CREATE TABLE IF NOT EXISTS `supplier` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '供应商ID',
  `name` varchar(100) NOT NULL COMMENT '供应商名称',
  `code` varchar(32) NOT NULL COMMENT '供应商编码',
  `contact_name` varchar(50) NOT NULL COMMENT '联系人姓名',
  `contact_phone` varchar(20) NOT NULL COMMENT '联系人电话',
  `contact_email` varchar(100) DEFAULT NULL COMMENT '联系人邮箱',
  `province` varchar(32) DEFAULT NULL COMMENT '所在省',
  `city` varchar(32) DEFAULT NULL COMMENT '所在市',
  `district` varchar(32) DEFAULT NULL COMMENT '所在区',
  `address` varchar(255) DEFAULT NULL COMMENT '详细地址',
  `status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '状态:1-正常,0-禁用',
  `cooperation_start` date DEFAULT NULL COMMENT '合作开始日期',
  `cooperation_end` date DEFAULT NULL COMMENT '合作结束日期',
  `business_scope` varchar(500) DEFAULT NULL COMMENT '经营范围',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_code` (`code`),
  KEY `idx_name` (`name`),
  KEY `idx_status` (`status`),
  KEY `idx_cooperation` (`cooperation_start`, `cooperation_end`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='供应商信息表';

-- 供应商资质表（精简版）
CREATE TABLE IF NOT EXISTS `supplier_qualification` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT 'ID',
  `supplier_id` bigint(20) NOT NULL COMMENT '供应商ID',
  `type` tinyint(4) NOT NULL COMMENT '资质类型:1-营业执照,2-法人身份证,3-开户许可,4-商标,5-品牌授权,6-质检报告,7-其他',
  `name` varchar(64) NOT NULL COMMENT '资质名称',
  `number` varchar(64) DEFAULT NULL COMMENT '证件号码',
  `expiry_date` date DEFAULT NULL COMMENT '有效期',
  `image_url` varchar(255) NOT NULL COMMENT '资质图片',
  `status` tinyint(4) NOT NULL DEFAULT '0' COMMENT '状态:0-待审核,1-有效,2-无效,3-过期',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  KEY `idx_supplier_type` (`supplier_id`, `type`),
  KEY `idx_status_expiry` (`status`, `expiry_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='供应商资质表';

-- 供应商联系人表（精简版）
CREATE TABLE IF NOT EXISTS `supplier_contact` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT 'ID',
  `supplier_id` bigint(20) NOT NULL COMMENT '供应商ID',
  `name` varchar(50) NOT NULL COMMENT '联系人姓名',
  `phone` varchar(20) NOT NULL COMMENT '联系人电话',
  `email` varchar(100) DEFAULT NULL COMMENT '联系人邮箱',
  `position` varchar(50) DEFAULT NULL COMMENT '职位',
  `department` varchar(50) DEFAULT NULL COMMENT '部门',
  `is_primary` tinyint(1) NOT NULL DEFAULT '0' COMMENT '是否主要联系人:0-否,1-是',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  KEY `idx_supplier_primary` (`supplier_id`, `is_primary`),
  KEY `idx_name_phone` (`name`, `phone`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='供应商联系人表';

-- 供应商账户表（精简版）
CREATE TABLE IF NOT EXISTS `supplier_account` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '账户ID',
  `supplier_id` bigint(20) NOT NULL COMMENT '供应商ID',
  `bank_name` varchar(100) NOT NULL COMMENT '开户银行',
  `bank_branch` varchar(100) DEFAULT NULL COMMENT '支行名称',
  `account_name` varchar(100) NOT NULL COMMENT '账户名称',
  `account_no` varchar(32) NOT NULL COMMENT '银行账号',
  `payment_type` tinyint(4) NOT NULL DEFAULT '1' COMMENT '结算方式:1-银行转账,2-支付宝,3-微信,4-现金',
  `status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '状态:1-正常,0-禁用',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_supplier_id` (`supplier_id`),
  KEY `idx_account_no` (`account_no`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='供应商账户表';

-- 供应商商品关联表（精简版）
CREATE TABLE IF NOT EXISTS `supplier_product` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT 'ID',
  `supplier_id` bigint(20) NOT NULL COMMENT '供应商ID',
  `product_id` bigint(20) NOT NULL COMMENT '商品ID',
  `product_sku_id` bigint(20) DEFAULT NULL COMMENT '商品SKU ID,NULL表示所有SKU',
  `supplier_product_code` varchar(50) DEFAULT NULL COMMENT '供应商商品编码',
  `cost_price` decimal(10,2) DEFAULT NULL COMMENT '供货价格',
  `min_order_quantity` int(11) DEFAULT '1' COMMENT '最小起订量',
  `delivery_days` int(11) DEFAULT '3' COMMENT '交货天数',
  `is_primary` tinyint(1) NOT NULL DEFAULT '0' COMMENT '是否主要供应商:0-否,1-是',
  `status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '状态:1-正常,0-禁用',
  `cooperation_start` date DEFAULT NULL COMMENT '合作开始日期',
  `cooperation_end` date DEFAULT NULL COMMENT '合作结束日期',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_supplier_product_sku` (`supplier_id`,`product_id`,`product_sku_id`),
  KEY `idx_product` (`product_id`, `product_sku_id`),
  KEY `idx_status_primary` (`status`, `is_primary`),
  KEY `idx_cooperation` (`cooperation_start`, `cooperation_end`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='供应商商品关联表';

-- 仓库信息表（精简版）
CREATE TABLE IF NOT EXISTS `warehouse` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '仓库ID',
  `name` varchar(100) NOT NULL COMMENT '仓库名称',
  `code` varchar(32) NOT NULL COMMENT '仓库编码',
  `type` tinyint(4) NOT NULL DEFAULT '1' COMMENT '仓库类型:1-自营仓,2-供应商仓,3-虚拟仓',
  `province` varchar(32) NOT NULL COMMENT '所在省',
  `city` varchar(32) NOT NULL COMMENT '所在市',
  `district` varchar(32) NOT NULL COMMENT '所在区',
  `address` varchar(255) NOT NULL COMMENT '详细地址',
  `contact_name` varchar(50) DEFAULT NULL COMMENT '联系人姓名',
  `contact_phone` varchar(20) DEFAULT NULL COMMENT '联系人电话',
  `status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '状态:1-正常,0-禁用',
  `priority` int(11) DEFAULT '0' COMMENT '优先级',
  `area` decimal(10,2) DEFAULT NULL COMMENT '面积(平方米)',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_code` (`code`),
  KEY `idx_name` (`name`),
  KEY `idx_type_status` (`type`, `status`),
  KEY `idx_priority` (`priority`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='仓库信息表';

-- 库存信息表（精简版）
CREATE TABLE IF NOT EXISTS `inventory` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '库存ID',
  `product_id` bigint(20) NOT NULL COMMENT '商品ID',
  `product_sku_id` bigint(20) NOT NULL COMMENT '商品SKU ID',
  `warehouse_id` bigint(20) NOT NULL COMMENT '仓库ID',
  `quantity` int(11) NOT NULL DEFAULT '0' COMMENT '实际库存',
  `lock_quantity` int(11) NOT NULL DEFAULT '0' COMMENT '锁定库存',
  `available_quantity` int(11) NOT NULL DEFAULT '0' COMMENT '可用库存',
  `alert_quantity` int(11) DEFAULT NULL COMMENT '预警库存',
  `max_quantity` int(11) DEFAULT NULL COMMENT '最大库存',
  `position` varchar(50) DEFAULT NULL COMMENT '库位',
  `version` int(11) NOT NULL DEFAULT '0' COMMENT '乐观锁版本号',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_product_sku_warehouse` (`product_id`,`product_sku_id`,`warehouse_id`),
  KEY `idx_product` (`product_id`, `product_sku_id`),
  KEY `idx_warehouse` (`warehouse_id`),
  KEY `idx_quantity` (`quantity`, `available_quantity`, `lock_quantity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='库存信息表';

-- 库存流水表（精简版）
CREATE TABLE IF NOT EXISTS `inventory_log` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '流水ID',
  `product_id` bigint(20) NOT NULL COMMENT '商品ID',
  `product_sku_id` bigint(20) NOT NULL COMMENT '商品SKU ID',
  `warehouse_id` bigint(20) NOT NULL COMMENT '仓库ID',
  `type` tinyint(4) NOT NULL COMMENT '类型:1-入库,2-出库,3-锁定,4-解锁,5-调整',
  `quantity` int(11) NOT NULL COMMENT '变动数量',
  `before_quantity` int(11) NOT NULL COMMENT '变动前数量',
  `after_quantity` int(11) NOT NULL COMMENT '变动后数量',
  `source` tinyint(4) NOT NULL COMMENT '来源:1-采购,2-销售,3-退货,4-调拨,5-盘点,6-其他',
  `relation_id` varchar(64) DEFAULT NULL COMMENT '关联单号',
  `operator_id` bigint(20) DEFAULT NULL COMMENT '操作人ID',
  `operator_type` tinyint(4) DEFAULT '3' COMMENT '操作人类型:1-用户,2-商家,3-系统,4-管理员',
  `remark` varchar(255) DEFAULT NULL COMMENT '备注',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  KEY `idx_product_warehouse` (`product_id`, `product_sku_id`, `warehouse_id`),
  KEY `idx_type_source` (`type`, `source`),
  KEY `idx_relation_time` (`relation_id`, `create_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='库存流水表';

-- 采购单表（精简版）
CREATE TABLE IF NOT EXISTS `purchase_order` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '采购单ID',
  `purchase_no` varchar(32) NOT NULL COMMENT '采购单号',
  `supplier_id` bigint(20) NOT NULL COMMENT '供应商ID',
  `warehouse_id` bigint(20) NOT NULL COMMENT '仓库ID',
  `status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '状态:1-待审核,2-已审核,3-已下单,4-部分入库,5-已完成,6-已取消',
  `purchaser_id` bigint(20) NOT NULL COMMENT '采购员ID',
  `total_amount` decimal(12,2) NOT NULL DEFAULT '0.00' COMMENT '采购总金额',
  `remark` varchar(255) DEFAULT NULL COMMENT '备注',
  `audit_id` bigint(20) DEFAULT NULL COMMENT '审核人ID',
  `audit_time` datetime DEFAULT NULL COMMENT '审核时间',
  `expect_receive_time` datetime DEFAULT NULL COMMENT '预计到货时间',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_purchase_no` (`purchase_no`),
  KEY `idx_supplier_warehouse` (`supplier_id`, `warehouse_id`),
  KEY `idx_status` (`status`),
  KEY `idx_create_time` (`create_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='采购单表';

-- 采购单明细表（精简版）
CREATE TABLE IF NOT EXISTS `purchase_order_item` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '明细ID',
  `purchase_id` bigint(20) NOT NULL COMMENT '采购单ID',
  `purchase_no` varchar(32) NOT NULL COMMENT '采购单号',
  `product_id` bigint(20) NOT NULL COMMENT '商品ID',
  `product_sku_id` bigint(20) NOT NULL COMMENT '商品SKU ID',
  `product_name` varchar(255) NOT NULL COMMENT '商品名称',
  `product_sku_name` varchar(255) DEFAULT NULL COMMENT '商品规格名称',
  `quantity` int(11) NOT NULL COMMENT '采购数量',
  `received_quantity` int(11) NOT NULL DEFAULT '0' COMMENT '已入库数量',
  `purchase_price` decimal(10,2) NOT NULL COMMENT '采购单价',
  `total_price` decimal(12,2) NOT NULL COMMENT '采购总价',
  `status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '状态:1-待入库,2-部分入库,3-已完成,4-已取消',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  KEY `idx_purchase` (`purchase_id`, `purchase_no`),
  KEY `idx_product` (`product_id`, `product_sku_id`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='采购单明细表';

-- 入库单表（精简版）
CREATE TABLE IF NOT EXISTS `stock_in` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '入库单ID',
  `stock_in_no` varchar(32) NOT NULL COMMENT '入库单号',
  `warehouse_id` bigint(20) NOT NULL COMMENT '仓库ID',
  `source_type` tinyint(4) NOT NULL COMMENT '来源类型:1-采购,2-退货,3-调拨,4-其他',
  `source_id` bigint(20) DEFAULT NULL COMMENT '来源单ID',
  `source_no` varchar(32) DEFAULT NULL COMMENT '来源单号',
  `supplier_id` bigint(20) DEFAULT NULL COMMENT '供应商ID',
  `total_quantity` int(11) NOT NULL DEFAULT '0' COMMENT '入库总数量',
  `status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '状态:1-待入库,2-部分入库,3-已完成,4-已取消',
  `operator_id` bigint(20) NOT NULL COMMENT '操作人ID',
  `operator_type` tinyint(4) NOT NULL DEFAULT '4' COMMENT '操作人类型:1-用户,2-商家,3-系统,4-管理员',
  `remark` varchar(255) DEFAULT NULL COMMENT '备注',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_stock_in_no` (`stock_in_no`),
  KEY `idx_warehouse` (`warehouse_id`),
  KEY `idx_source` (`source_type`, `source_id`, `source_no`),
  KEY `idx_supplier` (`supplier_id`),
  KEY `idx_status_time` (`status`, `create_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='入库单表';

-- 入库单明细表（精简版）
CREATE TABLE IF NOT EXISTS `stock_in_item` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '明细ID',
  `stock_in_id` bigint(20) NOT NULL COMMENT '入库单ID',
  `stock_in_no` varchar(32) NOT NULL COMMENT '入库单号',
  `product_id` bigint(20) NOT NULL COMMENT '商品ID',
  `product_sku_id` bigint(20) NOT NULL COMMENT '商品SKU ID',
  `product_name` varchar(255) NOT NULL COMMENT '商品名称',
  `product_sku_name` varchar(255) DEFAULT NULL COMMENT '商品规格名称',
  `quantity` int(11) NOT NULL COMMENT '计划入库数量',
  `actual_quantity` int(11) NOT NULL DEFAULT '0' COMMENT '实际入库数量',
  `position` varchar(50) DEFAULT NULL COMMENT '库位',
  `batch_no` varchar(50) DEFAULT NULL COMMENT '批次号',
  `production_date` date DEFAULT NULL COMMENT '生产日期',
  `expiry_date` date DEFAULT NULL COMMENT '过期日期',
  `cost_price` decimal(10,2) DEFAULT NULL COMMENT '成本价',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  KEY `idx_stock_in` (`stock_in_id`, `stock_in_no`),
  KEY `idx_product` (`product_id`, `product_sku_id`),
  KEY `idx_batch_expiry` (`batch_no`, `expiry_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='入库单明细表';

-- 出库单表（精简版）
CREATE TABLE IF NOT EXISTS `stock_out` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '出库单ID',
  `stock_out_no` varchar(32) NOT NULL COMMENT '出库单号',
  `warehouse_id` bigint(20) NOT NULL COMMENT '仓库ID',
  `source_type` tinyint(4) NOT NULL COMMENT '来源类型:1-销售,2-调拨,3-报损,4-其他',
  `source_id` bigint(20) DEFAULT NULL COMMENT '来源单ID',
  `source_no` varchar(32) DEFAULT NULL COMMENT '来源单号',
  `total_quantity` int(11) NOT NULL DEFAULT '0' COMMENT '出库总数量',
  `status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '状态:1-待出库,2-部分出库,3-已完成,4-已取消',
  `operator_id` bigint(20) NOT NULL COMMENT '操作人ID',
  `operator_type` tinyint(4) NOT NULL DEFAULT '4' COMMENT '操作人类型:1-用户,2-商家,3-系统,4-管理员',
  `remark` varchar(255) DEFAULT NULL COMMENT '备注',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_stock_out_no` (`stock_out_no`),
  KEY `idx_warehouse` (`warehouse_id`),
  KEY `idx_source` (`source_type`, `source_id`, `source_no`),
  KEY `idx_status_time` (`status`, `create_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='出库单表';

-- 出库单明细表（精简版）
CREATE TABLE IF NOT EXISTS `stock_out_item` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '明细ID',
  `stock_out_id` bigint(20) NOT NULL COMMENT '出库单ID',
  `stock_out_no` varchar(32) NOT NULL COMMENT '出库单号',
  `product_id` bigint(20) NOT NULL COMMENT '商品ID',
  `product_sku_id` bigint(20) NOT NULL COMMENT '商品SKU ID',
  `product_name` varchar(255) NOT NULL COMMENT '商品名称',
  `product_sku_name` varchar(255) DEFAULT NULL COMMENT '商品规格名称',
  `quantity` int(11) NOT NULL COMMENT '计划出库数量',
  `actual_quantity` int(11) NOT NULL DEFAULT '0' COMMENT '实际出库数量',
  `position` varchar(50) DEFAULT NULL COMMENT '库位',
  `batch_no` varchar(50) DEFAULT NULL COMMENT '批次号',
  `cost_price` decimal(10,2) DEFAULT NULL COMMENT '成本价',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  KEY `idx_stock_out` (`stock_out_id`, `stock_out_no`),
  KEY `idx_product` (`product_id`, `product_sku_id`),
  KEY `idx_batch_no` (`batch_no`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='出库单明细表';
